.forget {
    margin: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;

    background-color: #f0f4ef;  


}