.chat {    
    margin-right: 10px;
}

.chat_header {
    display: flex;
    padding: 20px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition:background-color 1s linear;
    margin: 5px 0;
}

.chat_header:hover {
    background-color: #90e0ef;
}

.chat_headerinfo {
    margin-left: 10px;
}


.chat_headerinfo h3 {
    font-weight: 600;
}


.chat_headerinfo p {
    font-size: 14px;
}