.signup {
    margin:20px;
    padding: 20px;
    
    width:fit-content;
    height:fit-content;

    background-color: #f0f4ef;  
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}



form {
    display: flex;
    flex-direction: column;
}


input {
    padding: 5px;
    margin: 5px;

    outline: none;
}


input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
  
label {
    display: block;
}
/* first mobile */

